employeeService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.soap.ithillel.ua/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.soap.ithillel.ua/" name="EmployeeServiceImplService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://server.soap.ithillel.ua/" schemaLocation="employeeService.xsd"/>
        </xsd:schema>
    </types>
    <message name="getEmployees">
        <part name="parameters" element="tns:getEmployees"/>
    </message>
    <message name="getEmployeesResponse">
        <part name="parameters" element="tns:getEmployeesResponse"/>
    </message>
    <message name="getEmployee">
        <part name="parameters" element="tns:getEmployee"/>
    </message>
    <message name="getEmployeeResponse">
        <part name="parameters" element="tns:getEmployeeResponse"/>
    </message>
    <message name="addEmployee">
        <part name="parameters" element="tns:addEmployee"/>
    </message>
    <message name="addEmployeeResponse">
        <part name="parameters" element="tns:addEmployeeResponse"/>
    </message>
    <message name="deleteEmployee">
        <part name="parameters" element="tns:deleteEmployee"/>
    </message>
    <message name="deleteEmployeeResponse">
        <part name="parameters" element="tns:deleteEmployeeResponse"/>
    </message>
    <message name="updateEmployee">
        <part name="parameters" element="tns:updateEmployee"/>
    </message>
    <message name="updateEmployeeResponse">
        <part name="parameters" element="tns:updateEmployeeResponse"/>
    </message>
    <portType name="EmployeeService">
        <operation name="getEmployees">
            <input wsam:Action="http://server.soap.ithillel.ua/EmployeeService/getEmployeesRequest" message="tns:getEmployees"/>
            <output wsam:Action="http://server.soap.ithillel.ua/EmployeeService/getEmployeesResponse" message="tns:getEmployeesResponse"/>
        </operation>
        <operation name="getEmployee">
            <input wsam:Action="http://server.soap.ithillel.ua/EmployeeService/getEmployeeRequest" message="tns:getEmployee"/>
            <output wsam:Action="http://server.soap.ithillel.ua/EmployeeService/getEmployeeResponse" message="tns:getEmployeeResponse"/>
        </operation>
        <operation name="addEmployee">
            <input wsam:Action="http://server.soap.ithillel.ua/EmployeeService/addEmployeeRequest" message="tns:addEmployee"/>
            <output wsam:Action="http://server.soap.ithillel.ua/EmployeeService/addEmployeeResponse" message="tns:addEmployeeResponse"/>
        </operation>
        <operation name="deleteEmployee">
            <input wsam:Action="http://server.soap.ithillel.ua/EmployeeService/deleteEmployeeRequest" message="tns:deleteEmployee"/>
            <output wsam:Action="http://server.soap.ithillel.ua/EmployeeService/deleteEmployeeResponse" message="tns:deleteEmployeeResponse"/>
        </operation>
        <operation name="updateEmployee">
            <input wsam:Action="http://server.soap.ithillel.ua/EmployeeService/updateEmployeeRequest" message="tns:updateEmployee"/>
            <output wsam:Action="http://server.soap.ithillel.ua/EmployeeService/updateEmployeeResponse" message="tns:updateEmployeeResponse"/>
        </operation>
    </portType>
    <binding name="EmployeeServiceImplPortBinding" type="tns:EmployeeService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="getEmployees">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getEmployee">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addEmployee">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteEmployee">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateEmployee">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="EmployeeServiceImplService">
        <port name="EmployeeServiceImplPort" binding="tns:EmployeeServiceImplPortBinding">
            <soap:address location="http://localhost:8080/employeeService"/>
        </port>
    </service>
</definitions>